

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@200&family=Space+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Serif', serif;
} 


.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #08090A;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar ul{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}


.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #08090A;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #08090A;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}


.sidebar.open ~ .main{
    left: 250px;
    width: calc(100% - 250px);
}


main{
    position: absolute;
    height: 100%;
    width: calc(100%-250px);
    left: 300px;

    font-size: 25px;
    font-weight: 500;
    margin: 12px;
}

.mainPage-inner {
    padding-top: 300px;
    padding-bottom: 310px; 
    padding-right: 200px;
}

.section-inner{
    padding-top:100px;
    padding-bottom: 400px;
    padding-right: 200px;
}

h1{
    font-size:50px;
    font-weight: 700;
}

a:link{
    color: #d89c9c;
}

a:visited{
    color: #d89c9c;
}

mark{
    background-color: #F1DEDE;
    
}

.contactNotAvail{
    font-size: 20px; 
    
}

form{
    padding-top: 50px;
    padding-left: 150px;
}

.sorry{
    
    font-style: italic; 
}

.section-inner-para{
    padding-top: 60px; 
}

.logo-details a:visited{
    text-decoration: none;
}

.logo-details a:link{
    text-decoration: none;
}